*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rproj
inst/doc
vignettes/test
vignettes/*.html
vignettes/*.md
vignettes/functionalities_cache
vignettes/functionalities_files
*.Rproj.user
buildReadme.sh
.Rproj.user
